@model Lanchonete.ViewModels.LancheViewModel

@{
    ViewData["Title"] = "Criar Lanche";
}

<h3>Criar Produto</h3>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Lanche.Nome" class="control-label"></label>
                <input asp-for="Lanche.Nome" class="form-control" />
                <span asp-validation-for="Lanche.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lanche.Descricao" class="control-label"></label>
                <textarea asp-for="Lanche.Descricao" class="form-control"></textarea>
                <span asp-validation-for="Lanche.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lanche.Preco" class="control-label"></label>
                <input asp-for="Lanche.Preco" class="form-control" />
                <span asp-validation-for="Lanche.Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lanche.ImagemUrl" class="control-label"></label>
                <input asp-for="Lanche.ImagemUrl" class="form-control" />
                <span asp-validation-for="Lanche.ImagemUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lanche.ImagemThumbnailUrl" class="control-label"></label>
                <input asp-for="Lanche.ImagemThumbnailUrl" class="form-control" />
                <span asp-validation-for="Lanche.ImagemThumbnailUrl" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group form-check col-md-4">
                    <label class="control-label">Marcar como Preferido?</label>
                    <br />
                    <label class="form-check-label" style="padding-left: 20px">
                        <input class="form-check-input" asp-for="Lanche.IsLanchePreferido" /> @Html.DisplayNameFor(model => model.Lanche.IsLanchePreferido)
                    </label>
                </div>
                <div class="form-group form-check col-md-4">
                    <label class="control-label">Marcar como em Estoque?</label>
                    <br />
                    <label class="form-check-label" style="padding-left: 20px">
                        <input class="form-check-input" asp-for="Lanche.EmEstoque" /> @Html.DisplayNameFor(model => model.Lanche.EmEstoque)
                    </label>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Lanche.CategoriaId" class="control-label"></label>
                    <select asp-for="Lanche.CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                    <span asp-validation-for="Lanche.CategoriaId" class="text-danger"></span>
                </div>
            </div>

            <hr />

            <h4>Matérias-Primas do Lanche</h4>
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Selecionar</th>
                        <th>Matéria-Prima</th>
                        <th>Quantidade</th>
                        <th>Unidade</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.MateriasPrimasParaSelecao.Count; i++)
                    {
                        <tr>
                            <td>
                                <input type="hidden" asp-for="MateriasPrimasParaSelecao[i].MateriaPrimaId" />
                                <input type="hidden" asp-for="MateriasPrimasParaSelecao[i].NomeMateriaPrima" />
                                <input type="hidden" asp-for="MateriasPrimasParaSelecao[i].UnidadeMedida" />
                                <input type="checkbox" asp-for="MateriasPrimasParaSelecao[i].Selecionado" />
                            </td>
                            <td>
                                @Model.MateriasPrimasParaSelecao[i].NomeMateriaPrima
                            </td>
                            <td>
                                <input type="number" asp-for="MateriasPrimasParaSelecao[i].QuantidadeUtilizada"
                                       class="form-control form-control-sm" step="0.01" min="0" />
                            </td>
                            <td>
                                @Model.MateriasPrimasParaSelecao[i].UnidadeMedida
                            </td>
                            <td>
                                <span asp-validation-for="MateriasPrimasParaSelecao[i].QuantidadeUtilizada" class="text-danger"></span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <hr />

            <div class="form-group">
                <input type="submit" value="Criar Produto" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-info">Retornar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}