<div class="container">
	<img src="~/images/IconFaleConosco_icone.png" />
	<div class="jumbotron">
		<h3>Queremos ouvir o que você tem a dizer</h3>
		<p>
			Se você tiver alguma dúvida ou sugestão, fale conosco!
		</p>
		<p>
			<span>
				<img src="~/images/IconCarta_icone.png" />
			</span>
			<h5><email endereco="lanchesasteca@gmail.com" conteudo="Enviar um e-mail"></email></h5>
			<br/>
			<span>
				<img src="~/images/IconTelefone_icone.png" />
			</span>
			<h5>(18) 2101-4000</h5>
			<br />
			<span>
				<img src="~/images/IconCasa_icone.png" />
			</span>
			<h5>Av. Jose Moises Ferreira, nº500 - Distrito Industrial, Pres. Prudente - SP, 19043-120</h5>
		</p>
	</div>
</div>